.app-stores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 43px;
}

.app-store__link {
  max-width: 136px;
}

.app-stores--mobile-hidden {
  display: none;
}

.app-store__img {
  max-width: 136px;
}

.app-stores__item {
  width: 136px;
}

@media (min-width: $tablet-width) {
  .app-stores {
    display: flex;
  }

  .app-store__link {
    max-width: 172px;
  }

  .app-store__img {
    max-width: 172px;
  }

  .app-stores__item {
    width: 172px;
  }

  .app-stores--mobile-hidden {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .app-stores {
    max-width: 380px;
    margin-bottom: 0;
  }

  .app-store__link {
    max-width: 180px;
  }

  .app-store__img {
    max-width: 180px;
  }

  .app-stores--mobile-hidden {
    display: none;
  }
}
