.exchange-rates {
  padding-bottom: 40px;
  padding-top: 28px;
  background-color: $beige;
}

.exchange-rates .slick-slider {
  display: flex;
}

.exchange-rates .slick-list {
  background-color: $white;
  border-radius: 10px;
}

.exchange-rates .slick-list {
    max-width: 180px;
    margin: 0 auto;
}

.exchange-rates .slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.exchange-rates__title {
  color: $black;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.exchange-rates .slick-next {
  right: -3px;
}

.exchange-rates .slick-prev {
  left: -3px;
}

.exchange-rates__rates {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: $black;
}

.exchange-rates .slick-arrow {
  border: none;
  width: 40px;
  height: 40px;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  transition: .3s ease;

  &:hover {
    background-color: #e0e0e0;
  }
}

.exchange-rates .slick-next:before {
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
  height: 6px;
  color: transparent;
}

.exchange-rates .slick-prev:before {
  background-image: url("../img/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
  height: 6px;
  color: transparent;
}

@media (min-width: $tablet-width) {
  .exchange-rates {
    padding-top: 40px;
  }

  .exchange-rates .slick-list {
    max-width: 590px;
    background-color: transparent;
  }

  .exchange-rates .slick-initialized .slick-slide {
    background-color: $white;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .exchange-rates {
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .exchange-rates .slick-list {
    max-width: 1180px;
  }

  .exchange-rates .slick-initialized .slick-slide {
    margin: 0 5px;
  }

  .exchange-rates__rates {
    line-height: 33px;
  }

  .exchange-rates .slick-prev {
    left: -71px;
  }

  .exchange-rates .slick-next {
    right: -71px;
  }

  .exchange-rates__rates {
    font-weight: 300;
    font-size: 16px;
    line-height: 40px;
  }
}
