.header-video {
  padding-top: 43px;
}

.header-video__title {
  @include defaults;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 5px;
}

.header-video__desc {
  @include defaults;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.header-video__wrapper {
  position: relative;
}

.header-video__container--circle {
  position: relative;
}

.header-video__video-play {
  position: relative;
  padding-top: 4px;
  max-width: 244px;
}

.header-video__container--circle::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url("../img/circle.svg");
  background-repeat: no-repeat;
  background-position: 0 -86px;
  z-index: 0;
}

@media (min-width: $tablet-width) {
  .header-video {
    padding-top: 143px;
  }

  .header-video__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .header-video__wrapper {
    width: 55%;
  }

  .header-video__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 43px;
  }

  .header-video__desc {
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
  }

  .header-video__text {
    margin-bottom: 44px;
  }

  .header-video__video-play {
    padding-top: 0;
    position: relative;
    top: 8px;
    max-width: 290px;
    margin-top: -25px;
  }

  .header-video__container--circle::before {
    background-image: url(../img/header-circle-desk.svg);
  }
}

@media (min-width: $desktop-width) {
  .header-video {
    padding-top: 175px;
  }

  .header-video__title {
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 68px;
  }

  .header-video__desc {
    margin-bottom: 112px;
  }

  .header-video__video-play {
    top: 8px;
    margin-top: -79px;
    max-width: 346px;
  }
}
