.our-app--circles {
  position: relative;
}

.our-app--circles::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 0;
  width: 100%;
  height: 479px;
  background-repeat: no-repeat;
  background-image: url("../img/circle-stores.png");
  background-size: contain;
  background-position: center;
}

.our-app__title {
  margin-bottom: 12px;
  padding-top: 40px;
}

.our-app__desc {
  text-align: center;
  color: $semi-black;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 32px;
}

.our-app__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.our-app__image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  order: 1;
}

.our-app--circle {
  background-image: url("../img/circle-our-app-mobile.png");
  background-repeat: no-repeat;
  background-position: center -284px;
}

@media (min-width: $tablet-width) {
  .our-app__container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 56px;
  }

  .our-app__image-container {
    order: 0;
    width: 290px;
  }

  .our-app__stores-container {
    max-width: 353px;
  }

  .our-app__title {
    text-align: left;
    margin-bottom: 50px;
  }

  .our-app__desc {
    text-align: left;
    line-height: 40px;
    margin-bottom: 64px;
  }

  .our-app--circle {
    background-image: url("../img/circle-our-app-tablet.png");
    background-repeat: no-repeat;
    background-position: 97px -801px;
  }
}

@media (min-width: $desktop-width) {
  .our-app__container {
    padding-top: 66px;
    justify-content: space-around;
  }

  .our-app__stores-container {
    max-width: 560px;
    align-self: center;
  }

  .our-app__image-container {
    width: 378px;
  }

  .our-app__desc {
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 95px;
  }

  .our-app--circle {
    background-image: url("../img/circle-our-app-desk.png");
    background-repeat: no-repeat;
    background-position: center -890px;
  }
}
