.page-footer__container {
  padding-top: 0;
  padding-bottom: 25px;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 47px;
  padding-top: 53px;
  width: 157px;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
}

.page-footer__contacts {
  margin-bottom: 20px;
}

.page-footer__phone {
  font-size: 13px;
}

.page-footer__links {
  @include defaults;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.page-footer__links-item {
  width: 50%;
}

.page-footer__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  color: $semi-black;

  &:hover {
    color: $main-blue;
  }
}

.page-footer__app-stores {
  margin-bottom: 27px;
}

.page-footer__desc--desktop {
  display: none;
}

.page-footer__links-wrapper {
  margin-bottom: 30px;
}

.page-footer__logo img {
  height: 20px;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    padding: 0;
  }

  .page-footer__wrapper {
    display: flex;
    padding: 0 22px;
    padding-top: 50px;
  }

  .page-footer__logo {
    @include defaults;
    width: 157px;
    margin-right: 28px;
  }

  .page-footer__logo-wrap {
    display: flex;
    margin-bottom: 30px;
  }

  .page-footer__desc {
    @include defaults;
    font-size: 16px;
    line-height: 30px;
    color: $semi-black;
    font-weight: 500;
    margin-bottom: 35px;
  }

  .page-footer__phone {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .page-footer__contacts {
    margin-bottom: 0;
  }

  .page-footer__links-item {
    width: 100%;
  }

  .page-footer__app-stores {
    max-width: 352px;
    margin-bottom: 46px;
  }

  .page-footer__columns--first {
    margin-right: 40px;
    max-width: 1100px;
  }

  .page-footer__desc--mobile {
    display: none;
  }

  .page-footer__desc--desktop {
    display: block;
  }

  .page-footer__app-stores--tablet-hidden {
    display: none;
  }

  .page-footer__links {
    margin-bottom: 0;
  }

  .page-footer__link {
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__app-stores--tablet-hidden {
    display: flex;
  }

  .page-footer__logo {
    width: 204px;
    margin-right: 90px;
    height: 26px;
  }

  .page-footer__logo-wrap {
    margin-bottom: 73px;
  }

  .page-footer__phone {
    margin-bottom: 30px;
  }

  .page-footer__columns--first {
    max-width: 555px;
  }

  .page-footer__desc {
    margin-bottom: 70px;
  }

  .page-footer__social {
    margin-bottom: 38px;
  }

  .page-footer__wrapper {
    justify-content: space-between;
    padding-top: 75px;
  }

  .page-footer__links-item {
    width: 50%;
  }

  .page-footer__link {
    font-size: 16px;
    line-height: 60px;
  }

  .page-footer__user-nav {
    margin-bottom: 68px;
  }

  .page-footer__links-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .page-footer__links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &:first-child {
      width: 250px;
    }

    &:last-child {
      margin-left: 60px;
    }
  }

  .page-footer__app-stores {
    max-width: 378px;
    margin-bottom: 30px;
    margin-top: auto;
  }

  .page-footer__columns--second {
    display: flex;
    flex-direction: column;
  }

  .page-footer__logo img {
    height: 26px;
  }
}
