.page-header {
  background-color: $white;
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  padding-top: 22px;
}

.page-header__logo-link {
  padding-left: 10px;
}

.page-header--circle {
  background-image: url("../img/header-circle-mobile.png");
  background-repeat: no-repeat;
  background-position: top right;
  max-width: 100%;
}

@media (min-width: $tablet-width) {
  .page-header__logo-link {
    padding-left: 0;
    width: 204px;
    height: 26px;
  }

  .page-header--circle {
    background-image: url("../img/circle-header-tablet.png");
    background-repeat: no-repeat;
    background-position: top right;
    max-width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-link {
    order: -1;
  }

  .page-header__container {
    padding-top: 40px;
    align-items: center;
  }

  .page-header--circle {
    background-image: url("../img/header-circle-desk.svg");
    background-repeat: no-repeat;
    background-position: top right;
  }
}
