.prices {
  display: none;
}

@media (min-width: $tablet-width) {
  .prices {
    display: flex;
    flex-wrap: wrap;
    max-width: 352px;
  }

  .prices__item {
    max-width: 166px;
    width: 100%;
    background-color: $beige;
    border-radius: 20px;
    margin: 0 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    padding-right: 25px;
    min-height: 165px;

    &:nth-child(2n+1) {
      margin-left: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0px;
    }
  }

  .prices__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: $semi-black;
    margin-bottom: 20px;
  }

  .prices__number {
    font-size: 20px;
    line-height: 30px;
    color: $main-blue;
    font-weight: 500;
  }
}

@media (min-width: $desktop-width) {
  .prices {
    max-width: 580px;
  }

  .prices__item {
    max-width: 280px;
    min-height: 189px;
  }

  .prices__title br {
    display: none;
  }

  .prices__title {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
  }

  .prices__number {
    font-size: 24px;
    line-height: 30px;
  }
}
