.site-nav__list {
  display: none;
}

.site-nav__burger {
  border: none;
  width: 22px;
  height: 16px;
  position: relative;
  background-color: $white;
}

.site-nav__burger-line {
  width: 22px;
  height: 2px;
  background-color: $main-blue;
  position: absolute;
}

.site-nav__burger-line--first {
  top: 0;
  left: 0;
}

.site-nav__burger-line-second {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.site-nav__burger-line--third {
  bottom: 0;
  left: 0;
}

@media (min-width: $desktop-width) {
  .site-nav__burger {
    display: none;
  }

  .site-nav__list {
    @include defaults;
    display: flex;
    width: 265px;
    justify-content: space-between;
    list-style: none;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    margin-left: 160px;
  }
}
