.subscribe {
  background-color: $beige;
  padding: 0 14px;
  border-radius: 20px;
}

.subscribe__title {
  padding-top: 30px;
  margin-bottom: 3px;
}

.subscribe__desc {
  @include defaults;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
}

.subscribe .checkbox-custom {
  padding-left: 30px;
}

@media (min-width: $tablet-width) {
  .subscribe {
    width: 352px;
    margin-left: 20px;
  }

  .subscribe__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    padding-top: 52px;
  }

  .subscribe__desc {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .subscribe {
    width: 580px;
  }

  .subscribe__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    padding-top: 68px;
    margin-bottom: 28px;
  }

  .subscribe__desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 31px;
  }
}
