.tab {
  background-color: $white;
  border-radius: 30px;
  position: relative;
  box-shadow: 10px 14px 14px rgba(0, 0, 0, 0.03);
}

.tab__current-title {
  position: relative;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #C4C4C4;
  cursor: pointer;
}

.tab__titles-list {
  @include defaults;
  list-style: none;
  position: absolute;
  top: 68px;
  background-color: $white;
  width: 100%;
  padding: 20px 0;
}

.tab__titles-item {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  width: 100%;

  &:hover {
    background-color: #C4C4C4;
  }
}

.tab__content {
  @include defaults;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 17px;
  padding-bottom: 43px;
}

.tab__arrow {
  position: absolute;
  top: 50%;
  right: 23px;
  width: 9px;
  height: 9px;
  border-bottom: 1px solid $black;
  border-right: 1px solid $black;
  transform: rotate(45deg) translateY(-50%);
}

.tab__content-item {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
}

@media (min-width: $tablet-width) {
  .tab__current-title {
    display: none;
  }

  .tab__titles-list {
    position: relative;
    padding: 0;
    top: 0;
    display: flex;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .tab__titles-item {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: $semi-black;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #C4C4C4;
    border-top: none;
    margin-left: -1px;

    &:first-child {
      border-left: none;
      border-top-left-radius: 30px;
    }

    &:last-child {
      border-right: none;
      border-top-right-radius: 30px;
    }
  }

  .tab__content {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 19px;
    padding-bottom: 40px;
  }

  .tab__titles-item.current {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .tab__titles-item {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 11px;
  }

  .tab__content {
    padding-top: 23px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .tab__content-item {
    font-size: 16px;
    line-height: 30px;
  }
}
