$beige: #fafafa;
$main-blue: #5673CE;
$hover-blue: rgba(#5673ce, 0.25);
$white: #ffffff;
$black: #000000;
$grey: #979797;
$semi-black: #4F4F4F;
$tablet-width: 768px;
$desktop-width: 1220px;
$mobile-width-only: 767px;
